$main-color: #03071e;
$second-color: #370617;
$third-color: #6a040f;
$border-color: rgba(161, 161, 161, 0.589);
$text-light: #ffffff;
$text-light-op: #ffffffaf;
$text-dark: rgb(53, 64, 76);
$text-secondary: rgb(163, 163, 163);
